$red: #d0011b;
$orange: #ef6c00;
$yellow: #f8d81c;
$teal: #41C0B4;
$blue: #128ced;
$black: #000000;
$react-dark: #20232a;
$text-body: #333333;
$text-secondary: #555555;
$gray-light: #666666;
$text-light: #999999;
$background-page: #fcfcfc;
$white: #ffffff;
